
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px;
  }
  
  main {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 10px;
  }
  
  #trainer-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
   
  }
  

.trainer1 {
  background-color: #4f39be;
  text-align: center;
  padding: 5px;
  color: #fff;
  grid-column: 1; /* 1 columna */
  border-right: 2px solid #aaa;
}

.trainer1 h2{
  margin: 5px;
}
.trainer-img {
  width: 80px;
  height: 80px;
}

.trainer1 .tipo{
  background-color: #79aaff;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  margin: 5px;
}

.trainer1 .Tipo-Combate{
  background-color: #37de82;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  margin: 5px;
}
Tipo-Combate
.trainer1 .pokeballIMG {
  width: 30px; /* Define el ancho de la imagen */
  height: 30px; /* Define la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
  margin-right: 0px;
  border-radius: 50%;
}



.trainer2 {
  background-color: #ff7979;
  text-align: left;
  padding: 10px;
  color: #fff;
  grid-column: 2; /* 2 columna */
}

.trainer2 h2{
  margin: 5px;
}

.trainer2 .tipo{ /*cambiar*/
  background-color: #79aaff;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
.trainer2 .pokeballIMG {
  width: 30px; /* Define el ancho de la imagen */
  height: 30px; /* Define la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
  margin-right: 0px;
  border-radius: 50%;
}

.objCurativo {
  display: flex; /* Activa Flexbox */
  align-items:center; /* Alinea verticalmente al centro */
  padding: 5px;
  gap: 5px; /* Espacio entre la imagen y el texto */
  
}

.objCurativo h3 {
  margin: 0; /* Elimina el margen por defecto del h3 */
  font-size: 18px; /* Ajusta el tamaño del texto */
}

.cantPokemon {
  display: flex; /* Activa Flexbox */
  align-items:center; /* Alinea verticalmente al centro */
  padding: 5px;
  gap: 5px; /* Espacio entre la imagen y el texto */
  /*justify-content: flex-end;  Mueve el contenido a la derecha */
}

.cantPokemon h3 {
  margin: 0; /* Elimina el margen por defecto del h3 */
  font-size: 18px; /* Ajusta el tamaño del texto */
}


.battle-type {
  background-color: #6c5ce7;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

  #pokemon-details {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .pokemon-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .pokemon-card img {
    width: 300px;
    height: 300px;
  }


/* Tipos con colores para las clases*/
.type {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* lista de pokemon a la izquierda de la pantalla*/
.container {
  display: flex;
  width: 85%;
  height: 85vh; /* Altura completa de la ventana */
  margin-top: 10px;
}

aside {
  background-color: #59646e;
  padding: 10px;
  border-right: 2px solid #6c6565;
  border-radius: 15px; /* Marco redondeado */
}

.entrenadoresSearchBar{
  background-color: #59646e;
  padding: 10px;
  align-items: center;
  
}

.listaEntrenadores{
  flex: 0.5; /* ancho de la lista de la izquierda */
  /*border-right: 2px solid #ccc;*/
  padding: 5px;
  overflow-y: auto; /* Scroll sólo en la lista */
  height: 85%; /* Asegura el scroll completo */
}

main {
  flex: 2;
  padding: 10px;
  overflow-y: auto; /* Permite scroll en los detalles si es necesario */
  background-color: #59646e; /* Color de fondo suave */
  border-radius: 15px; /* Marco redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

/* Estilo para la lista de Entrenadores */
#encounter-list {
  list-style-type: none;
  padding: 0;
}

#encounter-list li.selected-trainer {
  background-color: #8a8055; /* Cambia según el color deseado */
  border-radius: 8px;
  color: #fff; /* Cambia el color del texto al pasar el ratón */
}

#encounter-list li{
  margin: 5px 0;
  padding: 10px;
  background-color: #e8f0ff;
  border: 3px solid #000000;
  cursor: pointer;
  height: 30px;
}
/* Efecto al pasar el ratón sobre la lista */
#encounter-list li:hover {
  background-color: #8a8055; /* Cambia el color de fondo al pasar el ratón */
  color: #fff; /* Cambia el color del texto al pasar el ratón */
}


ul li img {
  width: 50px; /* Define el ancho de la imagen */
  height: 50px; /* Define la altura de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
}

/* Ajusta la alineación del contenido dentro de los elementos de la lista */
ul li {
  display: flex; /* Alinea la imagen y el texto horizontalmente */
  align-items: center; /* Centra verticalmente la imagen y el texto */
  padding: 5px 5px; /* Espacio interno para cada elemento */
  cursor: pointer; /* Cambia el cursor al pasar sobre la lista */
  border-bottom: 1px solid #141313; /* Línea separadora entre elementos */
  border-radius: 15px;
}

ul li .numeroDePokemon{
  display: flex; /* Alinea la imagen y el texto horizontalmente */
  margin-right: 10px;
}



ul li .nombreEntrenador{
  display: flex; /* Alinea la imagen y el texto horizontalmente */
  width: 80px;
  margin-right: 0px;
}



ul li .pokeballIMG {
  width: 30px; /* Define el ancho de la imagen */
  height: 30px; /* Define la altura de la imagen */
  padding: 10px;
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
  margin-right: 0px;
}




/* lista de pokemon a la izquierda de la pantalla*/

