
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
  }
 /*
  h1 {
    background-color: #ffcc00;
    padding: 10px 20px;
    color: #333;
  }
  
  #search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  #pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .pokemon-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }
  
  .pokemon-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }
  
  .pokemon-item .type {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
  

  /*/--/*/
  
/* Imagen del Pokémon */
.pokemon-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
  }
  
  /* Tipos con colores */
  .type {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  /* Bloque de estadísticas */
  .statBlock {
    margin: 10px 0;
  }

  .statBlock {
    grid-row: 3/4;
    grid-column: 1/4;
    margin-top: 10px;
    border-top: 2px solid #aaa;
    padding: 10px;
    background-color: #ffffff;
}

.statBlock .bar {
    height: 10px;
    border-radius: 4px
}

.statBlock .statVal {
    text-align: center;
    margin-right: 5px
}
.thirdBlock .statBlock .grid {
        display: grid;
        grid-template-columns: 0.7fr 0.5fr 3fr; /* 3 columnas: Label, Valor, Barra */
        grid-template-rows: 25px;
        align-items: center;
        margin: 5px 0;
        color: black;
      
}

#pkmGrid .thirdBlock .statBlock .grid .label {
    color: black;
    font-size: inherit;
}

  
  /* Contenedor de cada stat */
  .grid {
    display: grid;
    grid-template-columns: 0.30fr 0.25fr 3fr; /* 3 columnas: Label, Valor, Barra */
    grid-template-rows: 25px;
    align-items: center;
    margin: 5px 0;
    
  }
  
  .grid .label {
    font-weight: bold;
    margin-right: 10px;
    
  }
  
  .grid .statVal {
    text-align: left;
  }
  
  .bar {
    height: 12px;
    border-radius: 5px;
    border: black solid 1px;
  }
  

    /*--------------------------------------------------------------------------*/
  
    .gridMoves {
        grid-row: 3/4;
        grid-column: 1/4;
        margin-top: 10px;
        border-top: 2px solid #aaa;
        padding: 10px;
        background-color: #ffffff;
    }


 /*-------------Abilities Description-------------------------------*/   
  .abilities{
    width: 120px;
  }
 
  #floating-description {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        pointer-events: none;
        z-index: 1000;
        display: none; /* Asegúrate de ocultarlo inicialmente */
      }
        
        #floating-description.hidden {
          display: none; /* Clase para ocultarlo dinámicamente */
        }

 /*-------------Moves Description-------------------------------*/   
        #floating-description-moves {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.9);
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          pointer-events: none;
          z-index: 1000;
          display: none; /* Asegúrate de ocultarlo inicialmente */
        }
          
          #floating-description-moves.hidden {
            display: none; /* Clase para ocultarlo dinámicamente */
          }
    
/*-------------Pokemon Grid-------------------------------*/   
 
  #pkmGrid {
      margin: 1% 15%;
      padding: 15px;
      background-color: #59646e;
      border-radius: 10px;
      border: black solid 1px;
  }
  
  #pkmGrid {
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: auto auto auto
  }
  
/*-------------Top Panel--------------*/   
 
  #pkmGrid #topPanel {
      grid-column: 1/4;
      display: flex;
      justify-content: space-between;
      align-items: flex-start
  }
  
  #pkmGrid #topPanel a {
      padding: 5px;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color .1s ease-in-out;
      background-color: #e8f0ff;
      border: 1px solid black;
      color: black;
    }
#pkmGrid #topPanel a .flex {
display: flex;
align-items: center;
}
    

  #pkmGrid #topPanel a:hover {
      background-color: #1e1e2f;
      color: white;
      border: 1px solid white;
      
  }
  

  .pkmImagen {
    grid-row: 2/3;
    margin: 10px;
    border: white solid 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #1e1e2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#pkmImg {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(229, 226, 226, 0.2);
}

.type-interactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.interaction-category {
    background: #292b3d;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.interaction-category h3 {
    margin-bottom: 8px;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

.types p {
    margin: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
}

  
  #pkmGrid #tabs {
      grid-row: 2/3;
      grid-column: 2/4;
      display: flex;
      background-color: rgba(0,0,0,0);
      gap: 5px
  }
  
  #pkmGrid #tabs .tab {
      min-width: 75px;
      background-color: #777;
      border: 2px solid #fff;
      border-radius: 4px 4px 0px 0px;
      margin-bottom: -2px;
      text-align: center;
      transition: background-color .1s ease-in-out
  }
  
  #pkmGrid #tabs .tab.active {
      border-bottom: none;
      background-color: #555
  }
  
  #pkmGrid #tabs .tab:hover {
      cursor: pointer;
      background-color: #555
  }
  
  #pkmGrid #tabs .fill {
      width: -webkit-fill-available
  }
  
  #pkmGrid .tabContent {
      grid-row: 2/3;
      grid-column: 2/4;
      padding: 10px;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 1fr;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff;
      padding: 15px;
      margin: 15px;
      
  }
  
  #pkmGrid .tabContent.active {
      display: grid
  }
  
  #pkmGrid .tabContent:not(.active) {
      display: none
  }
  
  #pkmGrid .tabContent .firstBlock {
      grid-row: 1/2;
      grid-column: 1/2;
      border-right: 2px solid #aaa;
      padding-right: 10px;
      width: 240px;

  }
  
  #pkmGrid .tabContent .firstBlock ol {
      padding-inline-start:19px}
  
      #pkmGrid .tabContent .firstBlock ol li {
        width: fit-content
    }


  
  #pkmGrid .tabContent .firstBlock .label {
      min-width: 60px
  }
  
  #pkmGrid .tabContent .secondBlock {
      grid-row: 1/2;
      grid-column: 2/3;
      padding-left: 10px;
      width: 240px;
  }

  
  #pkmGrid .tabContent .secondBlock .label {
      min-width: 85px
  }
  
  #pkmGrid .tabContent .secondBlock .heldItem {
      padding: 0px;
      margin: 5px
  }
  
  #pkmGrid .tabContent .thirdBlock {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 10px;
    border-top: 2px solid #aaa
}
  
  
#pkmGrid .tabContent .flex,#pkmGrid .tabContent .grid {
    border-bottom: 1px solid #777;
    align-items: center;
    justify-content: center;
}
  
  #pkmGrid .tabContent .flex.last,#pkmGrid .tabContent .grid.last {
      border-bottom: none
  }
  
  #pkmGrid .tabContent .label {
      color: #ffffff;
      font-size: 1.4rem;
      padding: 5px;
      margin: 5px;
  }
  
  .typeLabel{
    display: flex;
    color: #ccc;
    font-size: 1.4rem;
    padding: 5px;
    margin: 5px;
    align-items: center;
    height: 100px;
  }
  
  .ability-tooltip{
    color: #ffffff;
    font-size: 1.4rem;
    padding: 5px;
    margin: 5px;
    padding-inline-start: 10px;
    text-decoration: underline;
  }
  
  ol{
    padding-inline-start: 0px;
  }

  #pkmGrid .moveContent {
      grid-row: 5/6;
      grid-column: 1/4;
      justify-content: space-evenly;
      margin: 10px 0px
  }
  
  #pkmGrid .moveContent.active {
      display: flex
  }
  
  #pkmGrid .moveContent:not(.active) {
      display: none
  }
  
  #pkmGrid .moveContent #levelUpCol {
      display: flex;
      flex-direction: column
  }
  
  #pkmGrid .moveContent #TMCol {
      display: flex;
      flex-direction: column
  }
  
  #pkmGrid .moveContent .moveRowLevel,#pkmGrid .moveContent .moveRowTM {
      display: grid;
      align-items: center;
      justify-items: center;
      border-bottom: 2px solid #777
  }
  
  #pkmGrid .moveContent .moveRowLevel img,#pkmGrid .moveContent .moveRowTM img {
      width: 35px
  }
  
  #pkmGrid .moveContent .moveRowLevel .start,#pkmGrid .moveContent .moveRowTM .start {
      justify-self: start
  }
  
  #pkmGrid .moveContent .moveRowLevel .pkmTypeBlock,#pkmGrid .moveContent .moveRowTM .pkmTypeBlock {
      font-size: 1.3rem;
      width: 65px;
      margin: 5px;
      padding: 3px
  }
  
  #pkmGrid .moveContent .moveRowLevel {
      grid-template-columns: 40px 1fr 85px 50px 50px 50px
  }
  
  #pkmGrid .moveContent .moveRowTM {
      grid-template-columns: 75px 1fr 85px 50px 50px 50px
  }
  
    /*--------------------------------------------------------------------------*/
  .iconImg {
    width: 3vh;
    height: 3vh;
}

  .flex {
    display: flex;
  }

  #pkmName {
    font-size: 3.2rem;
    color: #fff;
    margin: 0px;
    padding: 5px;
  }

  .type {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
  }

  /*------------------------- EVO CONTENT -------------------------------------------------*/
  #pkmGrid #evoContent {
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa
}

#pkmGrid #evoContent .evoChain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color:#1e1e2f;
    border-radius: 10px;
    border: 2px solid white;
}

#pkmGrid #evoContent .evoChain a {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color .1s ease-in-out
}

#pkmGrid #evoContent .evoChain a:hover {
    background-color: #888
}

#pkmGrid #evoContent .evoChain .pkm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#pkmGrid #evoContent .evoChain .pkm p {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center
}

#pkmGrid #evoContent .evoChain .pkm p.type {
    font-size:medium;
    text-align: center;
}

#pkmGrid #evoContent .evoChain .pkm img {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 6px rgba(229, 226, 226, 0.2);
}

#pkmGrid #evoContent .evoChain .currMon {
    display: flex;
    flex-direction: column;
}

#pkmGrid #evoContent .evoChain .preMon {
    display: flex;
    flex-direction: row-reverse
}

#pkmGrid #evoContent .evoChain .preMon a.first {
    margin-right: 250px
}

#pkmGrid #evoContent .evoChain .postMon {
    display: flex;
    flex-direction: column;
}

    /*--------------------------------------------------------------------------*/

    #pkmGrid #ubicacion {
      grid-row: 4/5;
      grid-column: 2/4;
      display: flex;
      align-items: top;
      padding: 10px 30px;
      border-bottom: 2px solid #aaa;
      color: #ffffff;
      margin: 15px;
  }

    .icon {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      vertical-align: middle;
  }
  
  
  .encounters details {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .encounters summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
    /*--------------------------------------------------------------------------*/

  #moves{
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    margin: 15px;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid #aaa;
    
  }

  #eggMoves{
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    margin: 15px;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid #aaa;
    justify-content: center;
  }


.listMoves {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 5px 0;

  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  color: black;
  background-color: white;
  border-radius: 20px;
}

.moves-table {
  width: 100%;
  border-collapse: collapse;
  
}

.moves-table th, .moves-table td {
  text-align: center;
  padding: 8px;
  border-top: 3px solid #000000;
}

.moves-table th {
  background-color: #f2f2f2;
  cursor: pointer;
  
}

.moves-table th[data-sort="level"] {
  width: 10%;
}

.moves-table th[data-sort="type"] {
  width: 15%;
}

.moves-table th[data-sort="name"] {
  width: 30%;
}

.moves-table th[data-sort="category"] {
  width: 15%;
}

.moves-table th[data-sort="power"] {
  width: 15%;
}

.moves-table th[data-sort="accuracy"] {
  width: 15%;
}

.move-tooltip {
  margin: 0px;
  font-weight: bold;

}

.moves-table img {
  width: 30px;
  height: inherit;
}



/*-----------Z------*/


